---
- name: "Stop all chia processes"
  ignore_errors: yes
  ansible.builtin.shell: |
    . {{ CHIA_SW_PATH }}/activate && chia stop all -d
- name:                  "Git checkout chia-blockchain branch {{ CHIA_BRANCH }}"
  ansible.builtin.git:
    repo:                "{{ CHIA_GIT_REPO }}"
    dest:                "{{ CHIA_SW_PATH }}"
    version:             "{{ CHIA_BRANCH }}"
    clone:               yes
    recursive:           yes
    force:               yes
- name:                  "Install chia-blockchain"
  ansible.builtin.shell: |
    sh install.sh
    . ./activate && chia init --fix-ssl-permissions && chia configure --log-level {{ CHIA_LOGGING | upper }}
  args:
    chdir:               "{{ CHIA_SW_PATH }}"
- name: "Start chia full node"
  ansible.builtin.shell: |
    . {{ CHIA_SW_PATH }}/activate && chia start {{ CHIA_SERVICE }}
